*{
  margin:0;
  padding: 0;
  padding-right: 10px;
}

[class*=col] {
  padding: 0;
}

/* -- Universal syles & utility classes */

.bg-light{
  background-color: #FFE4C4;
}

.bg-featured {
  background-color: #FFEBCD;
}

.bg-image {
  background-color: #FFE4C4;
  background-size: cover;
  background-position: center;
}

.padded {
  padding: 5%;
}

section {
  padding-top: 5%;
  padding-bottom: 5%;

}

header {
  padding: 1% 5%;
}

footer {
  padding: 5%;
}

.right {
  text-align: right;
}

/* -- Typography --*/
body {
  font-family: "Lato";

}

h1 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  padding: 2% 5%; /* top and bottom, then left and right */
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
}

h2 {
text-decoration: none;
  font-weight: 300;
  font-size: 2.5rem;
line-height: 1.2;
text-align: left;
margin-bottom: 1rem;
}

h3 {
  text-decoration: none;
    font-weight: 300;
    font-size: 2.5rem;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 40px;
}

h4 {
  margin-left: 50px;
  font-size: 1.75rem;
  line-height: 35px;
}

.tab { margin-left: 75px; }


ul {
  padding-left: : 10px;

}
p {
  font-size: 1.1rem;
  text-align: inherit;
}

nav a{
  text-decoration: none;
  color: inherit;
  background-color: #FFFAF0;
  padding: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  color: black;
  border-radius: 3px;
}

nav {
  text-align: right;
}

nav a:hover {
  color: #d18f4a;
  border-color: #d18f4a;
}

.button {
  text-decoration: none;
  color: inherit;
  background-color: #FFFAF0;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 3px;
}

.button:hover {
  color: #d18f4a;
  border-color: #d18f4a;

/* background images */
